body, body input, body input:focus {
    background: #0C090A;
    color:#ecf0f1;
    font-family: "consolas";
    border:none;
    font-size: 16px;
}

a {
    color: #2980b9;
}

*:focus {
    outline: 0;
}

span {
    color: #40d47e;
}

table {
    border-collapse: collapse;
    margin:5px;
}

table td {
    border-spacing: 0px;
    padding: 5px;
}